<section id="about" class="about">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="lead"> 
            GAAP-II (Guide for Astronomers Applying to Positions in Industry) is an online workshop series   
            designed for graduates and postdocs who are planning to transition from astronomy to industry. 
            The initiative aims to support emerging astronomers who are looking to transition, 
            or bridge the gap,  
            from academia to 
            industry positions. 
            The series ran for the first time in <a href="https://cascagsc.github.io/gaap2025/" target="_blank">summer 2025 </a> with a focus on applying to postdoctoral positions, jointly organized by the <a href="https://casca.ca/?page_id=279" target="_blank">
            Graduate Student Committee (GSC)</a> and the <a href="https://casca.ca/?page_id=14828" target="_blank">Postdoctoral Committee (PDC)</a> of the 
            <a href="https://casca.ca/" target="_blank">Canadian Astronomical Society / Société Canadienne d'Astronomie (CASCA)</a>. 
            Following the success of the first series, the GSC is now hosting this complementary series on transitioning from astronomy into industry.
          </p>
          <p class="lead"> 
            The GAAP-II workshop sessions aim to provide helpful information and experiential insights 
            about the process of applying to industry positions. 
            The events also serve as a platform for discussions and opportunity for applicants 
            to forge supportive connections with other applicants. 
            We invite participation from students or recent graduates engaged 
            in astronomy research who are interested in pursuing industry positions,   
            particularly senior graduate students and postdocs in Canada. 
          </p>
          <!-- <p class="lead"> 
            The workshop materials and recordings from the 2026 GAAP-II series are available below as a permanent open resource. 
          </p> !-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="text-vertical-left">
        <h2>When & Where</h2>
      </div>
      <div class="content">
        <p class="lead">25-27 June, 2026</p>
      </div>

      <div class="col-lg-12 text-center">
        <h2>When & Where</h2>
        <br>
        <p class="lead">25-27 June, 2026</p>
        <p class="lead">[Colloquium room in ABB], McMaster University, Hamilton, Ontario, Canada. </p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>When & Where</h2>
        <br>
        <p class="lead">25-27 June, 2026</p>
        <p class="lead">[Colloquium room in ABB], McMaster University, Hamilton, Ontario, Canada. </p>
      </div>
    </div> -->


    <!-- /.row -->
  <!-- </div> -->
  <!-- /.container -->
<!-- </section> -->
