<section id="about" class="about">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="lead"> 
            GAAP (Guide to Applying for Astronomy Postdocs) is an online workshop series   
            designed for prospective postdocs in astronomy. 
            The initiative aims to support emerging astronomers who are looking to transition, 
            or bridge the gap,  
            from graduate studies to 
            postdoctoral research positions, as well as from one postdoctoral position to another. 
            The series ran for the first time in summer 2025, jointly organized by the <a href="https://casca.ca/?page_id=279" target="_blank">Graduate Student Committee (GSC)</a> 
            and the <a href="https://casca.ca/?page_id=14828" target="_blank">Postdoctoral Committee (PDC)</a> of the 
            <a href="https://casca.ca/" target="_blank">Canadian Astronomical Society / Société Canadienne d'Astronomie (CASCA)</a>. 
          </p>
          <p class="lead"> 
            The GAAP workshop sessions provide helpful information and experiential insights 
            about the process of applying for postdoctoral positions and fellowships. 
            The events also serve as a platform for discussions and opportunity for applicants 
            to forge supportive connections with other applicants. 
            We invite participation from students or recent graduates engaged 
            in astronomy research who are interested in pursuing postdoctoral research opportunities,   
            particularly senior graduate students in Canada. 
          </p>
          <p class="lead"> 
            The workshop materials and recordings from the 2025 GAAP series are available below as a permanent open resource. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="text-vertical-left">
        <h2>When & Where</h2>
      </div>
      <div class="content">
        <p class="lead">25-27 June, 2025</p>
      </div>

      <div class="col-lg-12 text-center">
        <h2>When & Where</h2>
        <br>
        <p class="lead">25-27 June, 2025</p>
        <p class="lead">[Colloquium room in ABB], McMaster University, Hamilton, Ontario, Canada. </p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>When & Where</h2>
        <br>
        <p class="lead">25-27 June, 2025</p>
        <p class="lead">[Colloquium room in ABB], McMaster University, Hamilton, Ontario, Canada. </p>
      </div>
    </div> -->


    <!-- /.row -->
  <!-- </div> -->
  <!-- /.container -->
<!-- </section> -->
