<hr class="small">
<section id="additional-resources" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Additional Resources</h2>
        </div>
        <div class="content">
          <h3><b>AMP-UP</b></h3>
          <ul class="list-unstyled">
            <li><p class="lead"><a href="https://amp-up.space/mentorship.html" target="_blank">AMP-UP (Astronomy Mentorship Program for Upcoming Postdocs)</a> is a mentorship program in which current and previous prize postdoctoral fellows provide 
              professional and academic advice and support to PhD students performing astronomy-related research.</p></li>
            <li><p class="lead">AMP-UP is currently accepting <a href="https://docs.google.com/forms/d/e/1FAIpQLSedNNa0I6k5xSiFSdJgAqNiuEtCB9KAH0lROPECM9emZQaiVg/viewform" target="_blank">Mentee applications</a> for the 2025/2026 application cycle. The deadline is June 15th, 2025.</p></li>
          </ul>
          <h3><b>NSERC - Canada Postdoctoral Research Award program (CPRA)</b></h3>
          <ul class="list-unstyled">
            <li><p class="lead">NSERC review committee guide for CGRS D and CPRA programs (Appendix B lists the selection criteria and indicators): <a href="https://www.nserc-crsng.gc.ca/Students-Etudiants/Guides-Guides/CGRS-BESRC_eng.asp" target="_blank">https://www.nserc-crsng.gc.ca/Students-Etudiants/Guides-Guides/CGRS-BESRC_eng.asp</a></p></li>
            <!-- <li><p class="lead">Physics and Astronomy Review Committee members (new members are currently being recruited): NSERC - Committees - 178 - Scholarships and Fellowships Selection Committee for Physics and Astronomy</p></li> -->
            <li><p class="lead">Guidelines on the assessment of contributions to research, training and mentoring: <a href="https://www.nserc-crsng.gc.ca/NSERC-CRSNG/Policies-Politiques/assessment_of_contributions-evaluation_des_contributions_eng.asp" target="_blank">https://www.nserc-crsng.gc.ca/NSERC-CRSNG/Policies-Politiques/assessment_of_contributions-evaluation_des_contributions_eng.asp</a></p></li>
              <li><p class="lead">NSERC CPRA application instructions: <a href="https://www.nserc-crsng.gc.ca/OnlineServices-ServicesEnLigne/instructions/201/pgs-pdf_eng.asp" target="_blank">https://www.nserc-crsng.gc.ca/OnlineServices-ServicesEnLigne/instructions/201/pgs-pdf_eng.asp</a></p></li>
          </ul>
    
        </div>

      </div>
    </div>
  </div>
</section>
