<header id="top" class="header">
  <div class="text-vertical-center">
    <br>
    <img style="width: auto; height: 7%; filter: drop-shadow(0px 0px 8px #000000);" src="img/GAAP-II-Text.png" alt="GAAP" />
    <h1 style="color:white; text-shadow: 0px 0px 8px #000000;">A Guide for Astronomers Applying to Positions in Industry</h1>
    <h2 style="color:white; text-shadow: 0px 0px 8px #000000;">A series of online workshops<br>June 29th - July 16th, 2026</h2>
    <br>
    <br>
    <a href="https://forms.gle/WvqSRemiqYjzEqnp8" target="_blank" class="btn btn-dark btn-lg"><h3 style="margin: 10px; font-weight: 500;">Registration Form</h3></a>
    <br>
    <a href="https://forms.gle/3Y9EzGWqCAaxp12C7" target="_blank" class="btn btn-dark btn-lg"><h4 style="margin: 7px; font-weight: 500;">Submit a question to the Question Box</h4></a>
  </div>
</header>
<!-- margin-top: 5px; margin-bottom: 5px;  -->