<header id="top" class="header">
  <div class="text-vertical-center">
    <br>
    <img style="width: auto; height: 8%;" src="img/GAAP-II-Text.png" alt="GAAP" />
    <h1 style="color:white;">A Guide for Astronomers Applying to Positions in Industry</h1>
    <h2 style="color:white;">A series of online workshops<br>July 2026</h2>
    <br>
    <br>
    <!-- <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=C92AT4wzTE6KFJBEaWL3uKNsN8nKHutOjz6m4MA21fpUMkFYVEFEUFM0V1kwN0lFTk5GQzVDUTdEUy4u" target="_blank" class="btn btn-dark btn-lg">Expression of Interest Form</a> -->
    {{/* <a href="https://cascagsc.github.io/gaap2026" target="_blank" class="btn btn-dark btn-lg"><h3 style="margin: 10px; font-weight: 500;">Bridging the GAAP in Industry</h3></a> */}}
    <a href="#important-dates" target="_blank" class="btn btn-dark btn-lg"><h3 style="margin: 10px; font-weight: 500;">Registration Form</h3></a>
    <br>
    <a href="#important-dates" target="_blank" class="btn btn-dark btn-lg"><h4 style="margin: 7px; font-weight: 500;">Submit a question to the Question Box</h4></a>
  </div>
</header>
<!-- margin-top: 5px; margin-bottom: 5px;  -->