<hr class="small">
<section id="important-dates" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Important Dates</h2>
        </div>
        <div class="content">
          <!-- <p class="lead">Registration will open soon.</p> -->
          <ul class="list-unstyled">
            <li><p class="lead"><b>February 28, 2025:</b> The <a href="#about" target="_blank"><s>Expression of Interest Form</s></a> opened, and we were amazed by the number of responses; thank you to everyone who filled this out!</p></li>
            <li><p class="lead"><b>May 5, 2025:</b> Registration opened! Complete the <a href="#about" target="_blank"><s>Registration Form</s></a> to receive connection details for the sessions. This form remained open until the last session on July 31st. You do not have to be at a Canadian university to register; participation is welcomed from one and all! The list of invited guest speakers and panelists at each of the sessions is now available below as well.</p></li>
            <li><p class="lead"><b>June 19, 2025 (1:00-3:00pm ET):</b> Thank you for joining us for Session 1 of GAAP!</p></li>
            <li><p class="lead"><b>July 3, 2025 (1:00-3:00pm ET):</b> Thank you for joining us for Session 2 of GAAP!</p></li>
            <li><p class="lead"><b>July 17, 2025 (1:00-3:00pm ET):</b> Thank you for joining us for Session 3 of GAAP!</p></li>
            <li><p class="lead"><b>July 31, 2025 (1:00-3:00pm ET):</b> Thank you for joining us for Session 4 of GAAP!</p></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
