<hr class="small">
<section id="important-dates" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Important Dates</h2>
        </div>
        <div class="content">
          <!-- <p class="lead">Registration will open soon.</p> -->
          <ul class="list-unstyled">
            <li><p class="lead"><b>March 30, 2026:</b> The <a href="#about" target="_blank"><s>Expression of Interest Form</s></a> opened, and we were amazed by the number of responses; thank you to everyone who filled this out!</p></li>
            <li><p class="lead"><b>May 25, 2026:</b> Registration opened! Complete the <a href="#about" target="_blank">Registration Form</a> to receive connection details for the sessions. This form will remain open until the last session. You do not have to be at a Canadian university to register; participation is welcomed from one and all!</p></li>
            {{/*<li><p class="lead"><b>Session dates to be announced soon!</b></p></li>*/}}
            <li><p class="lead"><b>June 29, 2026 (12:00-1:30pm EDT):</b> </p></li>
            <li><p class="lead"><b>July 8, 2026 (12:00-1:30pm EDT):</b> </p></li>
            <li><p class="lead"><b>July 16, 2026 (12:00-1:30pm EDT):</b> </p></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
