<hr class="small">
<section id="loc" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Organizers</h2>
          <br>
          <img width="150px" src="img/gsc_logo_final_small.png" alt="CASCA GSC Logo" />
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead"><a href="https://ahelias-astro.github.io/" target="_blank">Adrien Hélias</a>, CASCA Graduate Student Committee (Western University)</p></li>
            <li><p class="lead"><a href="https://jspeedie.com/" target="_blank">Jess Speedie</a>, CASCA Graduate Student Committee (University of Victoria)</p></li>
            <li><p class="lead"><a href="https://dornanv.github.io/" target="_blank">Veronika Dornan</a>, CASCA Graduate Student Committee (McMaster University)</p></li>
            <li><p class="lead"><a href="https://isabel-sander.carrd.co/" target="_blank">Isabel Sander</a>, CASCA Graduate Student Committee (University of Manitoba)</p></li>
            <li><p class="lead"><a href="https://solveig-thom.github.io/" target="_blank">Solveig Thompson</a>, CASCA Graduate Student Committee (University of Calgary)</p></li>
            <li><p class="lead"><a href="https://www.linkedin.com/in/hannchris/" target="_blank">Hannah Christie</a>, CASCA Graduate Student Committee (Western University)</p></li>
            <li><p class="lead"><a href="https://emilydeibert.github.io/" target="_blank">Emily Deibert</a>, CASCA Postdoctoral Committee (Gemini Observatory/NSF's NOIRLab)</p></li>
            <li><p class="lead"><a href="https://github.com/MBravoS" target="_blank">Matías Bravo</a>, CASCA Postdoctoral Committee (McMaster University)</p></li>
            <!-- <li><p class="lead">Parisa Nozari, CASCA Graduate Student Committee (Queen's University)</p></li> -->
            <!-- <li><p class="lead">Nolan Dickson, CASCA Graduate Student Committee (Saint Mary's University)</p></li> -->
            <!-- <li><p class="lead">Kierra Weatherhead, CASCA Graduate Student Committee (University of Calgary)</p></li> -->
            <!-- <li><p class="lead">Neil Doerksen, CASCA Graduate Student Committee (University of Manitoba)</p></li> -->
            <!-- <li><p class="lead">Kit Gerodias, CASCA Graduate Student Committee (McGill University)</p></li> -->
          </ul>
          <!-- <br> -->
          <!-- <p class="lead"><b>To contact the organizers write to: <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a></b></p> -->
          <!-- <p class="lead"><b>To contact the organizers, please write directly to any/all of us!</b></p> -->
          <!--  -->
          <!-- <div class="manual-columns">
            <div class="column">
              <p class="lead"><b>From the CASCA Graduate Student Committee</b></p>
              <p class="lead">Adrien Hélias (Western University)</p>
              <p class="lead">Jess Speedie (University of Victoria)</p>
              <p class="lead">Veronika Dornan (McMaster University)</p>
              <p class="lead">Isabel Sander (University of Manitoba)</p>
              <p class="lead">Solveig Thompson (University of Calgary)</p>
              <p class="lead">Parisa Nozari (Queen's University)</p>
              <p class="lead">Nolan Dickson (Saint Mary's University)</p>
              <p class="lead">Kierra Weatherhead (University of Calgary)</p>
              <p class="lead">Neil Doerksen (University of Manitoba)</p>
              <p class="lead">Kit Gerodias (McGill University)</p>
            </div>
            <div class="column">
              <p class="lead"><b>From the CASCA Postdoctoral Committee</b></p>
              <p class="lead">Emily Deibert (Gemini Observatory/NSF's NOIRLab)</p>
              <p class="lead">Matías Bravo (McMaster University)</p>
            </div>
          </div> -->
          <!--  -->
        </div>

      </div>
    </div>
  </div>
</section>

<!-- <style>
.manual-columns {
  display: flex;
  gap: 2em; /* optional space between columns */
}

.column {
  flex: 1; /* makes each column take equal space */
}
</style> -->